

body{
    margin: 50px;
    background-image: url(./best-street-macro-wallpaper-photo-hd.jpg);
    font-family: 'Baloo 2', cursive;
}


header{
    display: flex;
    justify-content: center;
}

main{
    background-color: RGB(255, 228, 196);

    margin: white solid 3px;
    border-radius: 25px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;

}


h1{
    color: RGB(128, 0, 0);
    font-size: 70px;
    margin: none;
}
 img{
     background-color: RGB(255, 228, 196);
 }
canvas{
    border: 2px black solid;
    border-radius: 25px;

}
#instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 520px;
    font-size: 20px;

}

button{
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background-color: RGB(128, 0, 0);
    color: RGB(255, 235, 205);
    border-radius: 25px;
    border: none;
}

button:hover {
    background-color: RGB(178, 34, 34);
}

img{
    height: 150px;
}

#explainations{
display: flex;
justify-content: space-around;
text-align: center;
}

#explainations div{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    width: 100px;
}

#explainations img{
    height: 50px;
}